body {
    background-color: orange;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
}

.block {
  background: black;
  padding: 20px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
