*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main__btn {
  border: none;
  background-color: #2d6cca;
  color: #fff;
  border-radius: 1rem;
  padding: .5rem 1rem;
  cursor: pointer;
}

.main__btn:hover {
  background-color: #4480d9;
}

/* -------------------- МОДАЛКА -------------------- */

/* затемнение */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none; /* скрыто по умолчанию */
}

/* окно */
.modal-window {
  background: #fff;
  padding: 20px;
  width: 350px;
  border-radius: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

/* -------------------- АККОРДИОН -------------------- */

.accordion__block {
  border: 1px #000 solid;
}

.accordion__block:first-child {
  border-radius: .5rem .5rem 0 0;
}

.accordion__block:last-child {
  border-radius: 0 0 .5rem .5rem;
}

.accordion__header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .25rem .5rem;
}

.accordion__header:hover {
  background-color: #cecece;
}

.accordion__content {
  padding: .25rem .5rem;
}

.accordion__block[accordion-state="open"] .accordion__header {
  border-bottom: 1px #000 solid;
}

.accordion__block[accordion-state="closed"] .accordion__content {
  display: none;
}
