@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    box-sizing: border-box;
} */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #1c1c1c;
    color: #fff;
}

/* Header  wrapeer*/


a {
    color: #fff;
    text-decoration: none;
}


p{
    margin: 0;
}


p + p {
    margin-top: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
} 


img {
    max-width: 100%;
}


.container {
    box-sizing: border-box;

    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
}

.btn {
    
    display: flex;
    align-items: center;
    justify-content: center;
    

    width: 165px;
    height: 50px;

    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
  
    background-color: #f6762c;
    border-radius: 5px;

    transition: opacity 0.3s;

}

.btn:hover {
    opacity: 0.8;

}

.btn--small {
    width: 140px;
    height: 39px;
    font-size: 12px;
}

.header {
    padding: 25px 0;
    position: relative;
    z-index: 10;
    
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {

}
.header__nav {
   
}
.header__list {
    display: flex;
    gap: 30px;
}
.header__nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header__nav a.active {
    opacity: 1;
}

.header__nav a:hover {
    opacity: 0.9;
}


/* Section wrapper */
.main {

}


/* Welcome */


.welcome {
    box-sizing: border-box;
    min-height: 100vh;

    margin-top: -100px;
    padding: 240px 0;

   background-image: url("./images/welcome-bg.jpg"); 
   background-repeat: no-repeat;   /* Чтобы картинка не повторялась */
   background-size: cover;   /* Рястигивает на всю ширину */
   background-position: center;
}

.welcome__inner-wrapper {
    width: 550px;
} 


.welcome__subtitle {
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.welcome__title {
    font-size: 58px;
}

.welcome__desk {
    margin: 40px 0;
    font-size: 18px;
    opacity: 0.7;
}


/* FOOD List */


.food-list {
    padding: 100px 0;
}

.food-list .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10;

}

.food-list__card {
    width: 260px;
    overflow: hidden;
    text-align: center;

    background-color: #312f30;
    border-radius: 10px;
}

.food-list__img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

 .food-list__text-wrapper{
    padding: 30px 20px;
 }


.food-list__title {
    font-size: 20px;
    margin-bottom: 15px;
}

.food-list__desc {
    font-size: 16px;
    opacity: 0.7;
}


/* Order */

.order {
    background-color: #312F30;
    padding: 60px 0 ;
}

.order .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 90px;
}

.order__img {
    max-width: 470px;
}

.order__text {
   max-width: 360px; 
}

.order__title {
    margin-bottom: 25px;
    font-size: 44px;
}

.order-desc {
    margin-bottom: 15px;
    opacity: 0.7;
}

.order__price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #f6762c;
}

.order__price--old {
    font-size: 16px;
    text-decoration-line: line-through; /* Тег который помогает нам перечеркнуть тексt  */  
    opacity: 0.5;
}

.order__price + .order__price{
    margin-left: 3px;  
}

.order .btn {
    margin-top: 10px;
}


/*  */
.product {
    padding: 150px 0;
}

.product .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.product__card {
    box-sizing: border-box;
    width: 555px;
    min-height: 300px;

    padding: 60px 30px 60px 290px;
    background-color: #4b3a3a ;
    background-size: cover; /* тег для того чтобы расстенулось на всю карту  */
    background-repeat: no-repeat;  /* Чтобы не повторялось  */
    background-position: center;
}

.product__card:nth-child(even) {
    padding-left: 30px;
    padding-right: 290px;
}

.product__title {
    margin-bottom: 20px;
    font-size: 30px;

}

.product__desc {
    margin-bottom: 10px;
    opacity: 0.7;
}

.product__price {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #f6762c;
}

.product__price + .product__price {
    margin-left: 5px; 
}

.product__price--old {
    text-decoration: line-through;
    opacity: 0.5; 
}

.product .btn {
    margin-top: 10px;
}

.card-queen {
    background-image: url(./images/product-1.jpg);

}

.card-hut {
    background-image: url(./images/product-2.jpg);

}

.card-king {
    background-image: url(./images/product-3.jpg);

}

.card-papa {
    background-image: url(./images/product-4.jpg);

}

/* FeedBack */

.feedback {
    padding-bottom: 200px;
}

.feedback .container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    min-width: 880px;

}

.feedback__img {

}

.feedback__text {
    margin: 0;
    text-align: center;
    width: 370px;

    /* display: flex;
    flex-direction: column; */
}

.feedback__text::before {
    content: url("./images/icons/quote.svg");
}

.feedback__desc {
    opacity: 0.7;
    margin: 30px 0;
}

.feedback__author {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.feedback_subauthor {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.7;

    display: block;
}


/* Download */
.download {
    padding: 60px 0;
    background-color: #312F30;
}

.download .container {
    display: flex;
    justify-content: space-around;
}

.download__title {
    font-weight: 500;
    font-size: 40px;
}

.btn {

}


/* Footer */


.footer {
    padding: 120px 0;
}

.footer a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s;
}

.footer a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.footer .footer__title {
    display: inline-block;  /* Для ссылочных нельзя ставить маржины поэтому выставляем этот тег */
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__logo {
    /* display: inline-block; */
    width: 70px;
    margin-bottom: 20px;
}

.foooter_link{
    display: flex;
    align-items: center;
    gap: 5px;
}

.foooter_link + .foooter_link {
    margin-top: 10px;
}

.foooter_link::before {
    width: 12px;
    height: 12px;
}

.footer__link-mail::before {
     content: url(./images/icons/mail.svg);

}

.footer__link-web::before {
      content: url(./images/icons/global.svg);
}

.footer__link {

}


/* FooterNav */

.footer_nav {

}

.footer__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 раза по 1фр */
}

.footer__menu{

}

.footer__list-title {

}

.footer__inner-list {

}

.footer__list-item + .footer__list-item{
    margin-top: 15px;
}

/* Social */

.footer__socials {

}

.footer__socials-icons {

}

.footer__socials-link + .footer__socials-link {
    margin-left: 7px;
}




@media (max-width: 1100px) {
    .welcome__desk {
        opacity: 1;
    }
}

@media (max-width: 950px) {
    .order .container {
        flex-direction: column;
    }
    .order__text {
        text-align: center;
    }
    .order .btn {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 850px) {
    .footer .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "contacts socials"
                                "nav nav";
        justify-items: center;
        gap: 20px;
    }
    .footer__contacts{
        grid-area: contacts ;
    }
    .footer__nav {
        grid-area: nav ;

    }
    .footer__socials {
        grid-area: socials ;
        align-self: center;
    }

    .footer__list {
        gap: 20px;
    }
}